node_modules/*
.idea/*
public/js/main.*
public/js/vendor.*
*.swo
*.swp

/public/testImages/*
/public/images/*
.env

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions